.place {
  width: 95%;
  margin: 0 auto;
}

.place .place__card {
  border-radius: 12px;
  background-color: white;
  margin: 26px 0;
  padding: 20px;
}

.place .place__card .place__card_top {
  display: flex;
  gap: 20px;
}

.place .place__card .place__card_top > div {
  width: 100%;
}

.place .place__card .place__card_top > div:last-child ul {
  display: grid;
  grid-gap: 20px;
}

.place .place__card .place__card_top > div:last-child ul li p:nth-child(even) {
  color: #374151;
  margin-top: 10px;
}

.place .place__card .place__card_bottom {
  margin-top: 26px;
}

.place .place__card .place__card_bottom p {
  margin-top: 16px;
}
