.deputies {
  margin: 1rem auto;
}

.deputies * {
  color: initial;
  text-decoration: none;
}

.deputies .deputies__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin: 26px 0;
}

.deputies .deputies__wrapper .deputies__wrapper_item {
  width: 100%;
  height: 100%;
  max-height: 230px;
  cursor: pointer;
  display: flex;
  gap: 20px;
  border-radius: 12px;
  background-color: white;
  transition: all 0.2s;
  padding: 20px;
}

.deputies .deputies__wrapper .deputies__wrapper_item:hover {
  transform: translateX(0) translateY(-0.25rem) rotate(0) skewX(0) skewY(0)
    scaleX(1.01) scaleY(1.01);
  box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000,
    0 20px 25px -5px rgb(0 0 0/0.1), 0 8px 10px -6px rgb(0 0 0/0.1);
}

.deputies .deputies__wrapper .deputies__wrapper__item_img {
  border-radius: 12px;
  overflow: hidden;
}

.deputies .deputies__wrapper .deputies__wrapper__item_img img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.deputies .deputies__wrapper .deputies__wrapper__item_info {
  height: auto;
  display: grid;
}

.deputies .deputies__wrapper .deputies__wrapper__item_info h5 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.deputies .deputies__wrapper .deputies__wrapper__item_info p {
  color: #6b7280;
}

.deputies .deputies__wrapper .deputies__wrapper__item_info p:last-child {
  color: #0078c8;
}

@media all and (max-width: 1100px) {
  .deputies .deputies__wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media all and (max-width: 700px) {
  .deputies h5 {
    font-size: 16px;
  }

  .deputies p {
    font-size: 14px;
  }
}

@media all and (max-width: 500px) {
  .deputies .deputies__wrapper .deputies__wrapper_item {
    min-height: 350px;
    flex-direction: column;
  }

  .deputies
    .deputies__wrapper
    .deputies__wrapper_item
    .deputies__wrapper__item_img {
    display: flex;
    justify-content: center;
  }

  .deputies
    .deputies__wrapper
    .deputies__wrapper_item
    .deputies__wrapper__item_info {
    grid-gap: 10px;
  }
}
