@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: rgb(243 244 246/1) !important;
}

.icon {
  width: 30px;
  height: 30px;
  display: inline-block;
  mask-repeat: no-repeat;
  mask-size: 100%;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  -webkit-mask-position: center;
  vertical-align: middle;
  background-color: black;
}

.icon-instagram {
  width: 15px;
  height: 15px;
  mask-image: url(./assets/icons/instagram.png);
  -webkit-mask-image: url(./assets/icons/instagram.png);
}

.icon-facebook {
  width: 15px;
  height: 15px;
  mask-image: url(./assets/icons/facebook-app-symbol.png);
  -webkit-mask-image: url(./assets/icons/facebook-app-symbol.png);
}
.icon-telegram {
  width: 15px;
  height: 15px;
  mask-image: url(./assets/icons/telegram.png);
  -webkit-mask-image: url(./assets/icons/telegram.png);
}
.icon-linkedin {
  width: 15px;
  height: 15px;
  mask-image: url(./assets/icons/linkedin.png);
  -webkit-mask-image: url(./assets/icons/linkedin.png);
}
.icon-prev {
  width: 15px;
  height: 15px;
  background-color: #6366f1;
  mask-image: url(./assets/icons/previous.png);
  -webkit-mask-image: url(./assets/icons/previous.png);
}

.icon-next {
  width: 15px;
  height: 15px;
  background-color: #6366f1;
  mask-image: url(./assets/icons/next.png);
  -webkit-mask-image: url(./assets/icons/next.png);
}

.news-all__content {
  color: #575a74;
}

.news-all__content img {
  margin: 20px 0;
  border-radius: 7px;
}
